.background
  .header
    .header__logo
      = image_tag "logo/logo.png", size: "214x62"
  .form_top
    住所情報入力
  .user_info
    = form_for @address do |f|
      = render "devise/shared/error_messages", resource: @address
      .form_box
        お届け先氏名
        %span(class="required")
          必須
        .form_box_name
          %br/
          = f.text_field :address_full_width_last_name, placeholder: " 例)山田", class: "form_box_name_side"
          %br/
          = f.text_field :address_full_width_first_name, placeholder: " 例)太郎", class: "form_box_name_side"
      .form_box
        お届け先氏名ふりがな
        %span(class="required")
          必須
        .form_box_name
          = f.text_field :address_hira_last_name, placeholder: " 例)やまだ", class: "form_box_name_side"
          %br/
          = f.text_field :address_hira_first_name, placeholder: " 例)たろう", class: "form_box_name_side"
      .form_box
        電話番号
        %span(class="required")
          必須
        %br/
        = f.phone_field :phone_number, placeholder: " 例) 09011112222", class: "form_box_large"
      .form_box
        お届け先住所
        %span(class="required")
          マンション名等以外は必須
        %br/
        = f.text_field :zip_code, placeholder: " 郵便番号", class: "form_box_small"
        %br/
        = f.text_field :prefectures, placeholder: " 都道府県", class: "form_box_large"
        %br/
        = f.text_field :city, placeholder: " 市区町村", class: "form_box_large"
        %br/
        = f.text_field :address, placeholder: " 番地",class: "form_box_large"
        %br/
        = f.text_field :room_number, placeholder: " マンション名、建物名、部屋番号",class: "form_box_large"
      .form_send
        = f.submit "登録", class: "form_send_btn"

  .footer
    %ul.terms
      %li
        = link_to "プライバシーポリシー", "/"
      %li 
        = link_to "FURIMA利用規約", "/"
      %li
        = link_to "特定商取引に関する表記", "/"
    .footer__logo
      = image_tag "logo/logo-white.png", size: "170x50"
    .footer__copyright
      © FURIMA