.form_top
  会員情報入力
.user_info
  .form_box
    ニックネーム
    %br/
    .form_box_large
      = @user.nickname
  .form_box
    %br/
    .form_box_large
      = @user.email
  .form_box
    お名前（全角）
    .form_box_name
      %br/
      .form_box_name_side
        = @user.full_width_last_name
      %br/
      .form_box_name_side
        = @user.full_width_first_name
  .form_box
    お名前ふりがな（全角)
    .form_box_name
      %br/
      .form_box_name_side
        = @user.hira_last_name
      %br/
      .form_box_name_side
        = @user.hira_first_name
  .form_box
    生年月日
    %br/
    = @user.birth_date
  .form_text
  .form_send
    = link_to "情報編集画面に移る", class: "form_send_btn"
.mypage--space