.form_top
  発送元情報
.user_info
  .form_box
    お届け先氏名
    .form_box_name
      .form_box_name_side
        = @address.address_full_width_last_name
        %br/
      .form_box_name_side
        = @address.address_full_width_first_name
  .form_box
    お届け先氏名ふりがな
    .form_box_name
      .form_box_name_side
      = @address.address_hira_last_name
      %br/
      .form_box_name_side
      = @address.address_hira_first_name
  .form_box
    電話番号
    %br/
    .form_box_large
    = @address.phone_number
  .form_box
    お届け先住所
    %br/
    .form_box_small
      = @address.zip_code
    %br/
    .form_box_large
      = @address.prefectures
    %br/
    .form_box_large
      = @address.city
    %br/
    .form_box_large
      = @address.address
    %br/
    .form_box_large
      = @address.room_number
  .form_send
    = link_to "編集画面に移動する", class: "form_send_btn"
.mypage--space