= render "products/header"



.mypage--background
  .mypage--flame
    .mypage--space
    .mypage
      .mypage_side
        = link_to user_path(current_user[:id]), class: "mypage_side_box" do
          .mypage_side_box--name
            マイページ
          .mypage_side_box--arrow
            ▶︎
        = link_to "#", class: "mypage_side_box" do
          .mypage_side_box--name
            出品する
          .mypage_side_box--arrow
            ▶︎
        = link_to exh_user_path(current_user[:id]), class: "mypage_side_box" do
          .mypage_side_box--name
            出品した商品
          .mypage_side_box--arrow
            ▶︎
        = link_to buy_user_path(current_user[:id]), class: "mypage_side_box" do
          .mypage_side_box--name
            購入した商品
          .mypage_side_box--arrow
            ▶︎
        = link_to "#", class: "mypage_side_box" do
          .mypage_side_box--name
            ガイド
          .mypage_side_box--arrow
            ▶︎
        = link_to "#", class: "mypage_side_box" do
          .mypage_side_box--name
            お問い合わせ
          .mypage_side_box--arrow
            ▶︎

        .mypage_side--menubox
          設定

        = link_to edit_user_path(current_user[:id]), class: "mypage_side_box" do
          .mypage_side_box--name
            プロフィール確認・変更
          .mypage_side_box--arrow
            ▶︎
        = link_to edit_address_user_path(current_user[:id]), class: "mypage_side_box" do
          .mypage_side_box--name
            発送元・お届け住所確認・変更
          .mypage_side_box--arrow
            ▶︎
        = link_to credit_user_path(current_user[:id]), class: "mypage_side_box--current" do
          .mypage_side_box--name
            支払い情報
          .mypage_side_box--arrow
            ▶︎
        = link_to destroy_user_session_path, method: :delete, class: "mypage_side_box" do
          .mypage_side_box--name
            ログアウト
          .mypage_side_box--arrow
            ▶︎

      .mypage_main
        .mypage_main--header 
          .mypage_main--header_opacty
            .my_items
              .my_items--nickname
                = @user.nickname
              .my_items_under
                .my_items_under--exh
                  出品中 
                .my_items_under--valuation
                  出品数 
            

        .mypage_main_center
          .form_top
            支払い情報
          .user_info
            = form_with model: @user, local:true do |f|
              = render "devise/shared/error_messages", resource: @user
              .form_box
                ニックネーム
                %span(class="required")
                  必須
                %br/
                = f.text_field :nickname,placeholder: " 例) フリマ太郎", class: "form_box_large"
              .form_box
                = f.label :email
                %span(class="required")
                  必須
                %br/
                = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: " PC・スマホどちらでも可", class: "form_box_large"
              .form_box
                お名前（全角）
                %span(class="required")
                  必須
                .form_box_name
                  %br/
                  = f.text_field :full_width_last_name, placeholder: " 例)山田", class: "form_box_name_side"
                  %br/
                  = f.text_field :full_width_first_name, placeholder: " 例)太郎",class: "form_box_name_side"
              .form_box
                お名前ふりがな（全角)
                %span(class="required")
                  必須
                .form_box_name
                  %br/
                  = f.text_field :hira_last_name, placeholder: " 例)やまだ", class: "form_box_name_side"
                  %br/
                  = f.text_field :hira_first_name, placeholder: " 例)たろう", class: "form_box_name_side"
              .form_box
                生年月日
                %span(class="required")
                  必須
                %br/
                != sprintf(f.date_select( :birth_date, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1), date_separator:'%s'),'年','月')+'日'
              .form_text
                本人確認 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。
                %br/
                他のお客様のに公開されることはありません。
              .form_send
                = f.submit "登録", class: "form_send_btn"
    .mypage--space




= render "products/footer"
= render "products/exhibition"
