= render "products/header"



.mypage--background
  .mypage--flame
    .mypage--space
    .mypage
      .mypage_side

        %ul
          %li.mypage_side_box.active
            .mypage_side_box--name
              マイページ
            .mypage_side_box--arrow
              ▶︎
          = link_to new_product_path, class: "mypage_side_box" do
            .mypage_side_box--name
              出品する
            .mypage_side_box--arrow
              ▶︎
          %li.mypage_side_box#mypage_exh
            .mypage_side_box--name
              出品した商品
            .mypage_side_box--arrow
              ▶︎
          %li.mypage_side_box#mypage_buy
            .mypage_side_box--name
              購入した商品
            .mypage_side_box--arrow
              ▶︎
          %li.mypage_side_box
            .mypage_side_box--name
              ガイド
            .mypage_side_box--arrow
              ▶︎
          %li.mypage_side_box
            .mypage_side_box--name
              お問い合わせ
            .mypage_side_box--arrow
              ▶︎

          .mypage_side--menubox
            設定

          %li.mypage_side_box#mypage_user
            .mypage_side_box--name
              プロフィール確認・変更
            .mypage_side_box--arrow
              ▶︎
          %li.mypage_side_box#mypage_address
            .mypage_side_box--name
              発送元・お届け住所確認・変更
            .mypage_side_box--arrow
              ▶︎
          %li.mypage_side_box#mypage_credit
            .mypage_side_box--name
              支払い情報
            .mypage_side_box--arrow
              ▶︎
          = link_to destroy_user_session_path, method: :delete, class: "mypage_side_box" do
            .mypage_side_box--name
              ログアウト
            .mypage_side_box--arrow
              ▶︎

      .mypage_main
        .mypage_main--header 
          .mypage_main--header_opacty
            .my_items
              .my_items--nickname
                = current_user.nickname
              .my_items_under
                .my_items_under--exh
                  %p 出品中:
                .my_items_under--valuation
                  %P 出品数: #{current_user.products.length}
            

        %ul.main_display_mypage
          -# 番号を揃える為、ダミーで置いてある物もあります。
          %li.main_display_mypage_box.show
            = render "default"
          %li.main_display_mypage_box
          %li.main_display_mypage_box
            = render "exh_show"
          %li.main_display_mypage_box
            = render "buy_show"
          %li.main_display_mypage_box
            = render "guide"
          %li.main_display_mypage_box
            = render "information"
          %li.main_display_mypage_box
            = render "edit"
          %li.main_display_mypage_box
            = render "edit_address"
          %li.main_display_mypage_box
            = render "credit"

    .mypage--space




= render "products/footer"
= render "products/exhibition"
