= render "products/header"



.mypage--background
  .mypage--flame
    .mypage--space
    .mypage
      .mypage_side
        = link_to user_path(current_user[:id]), class: "mypage_side_box" do
          .mypage_side_box--name
            マイページ
          .mypage_side_box--arrow
            ▶︎
        = link_to new_product_path, class: "mypage_side_box" do
          .mypage_side_box--name
            出品する
          .mypage_side_box--arrow
            ▶︎
        = link_to exh_user_path(current_user[:id]), class: "mypage_side_box" do
          .mypage_side_box--name
            出品した商品
          .mypage_side_box--arrow
            ▶︎
        = link_to buy_user_path(current_user[:id]), class: "mypage_side_box" do
          .mypage_side_box--name
            購入した商品
          .mypage_side_box--arrow
            ▶︎
        = link_to "#", class: "mypage_side_box" do
          .mypage_side_box--name
            ガイド
          .mypage_side_box--arrow
            ▶︎
        = link_to "#", class: "mypage_side_box" do
          .mypage_side_box--name
            お問い合わせ
          .mypage_side_box--arrow
            ▶︎

        .mypage_side--menubox
          設定

        = link_to edit_user_path(current_user[:id]), class: "mypage_side_box" do
          .mypage_side_box--name
            プロフィール確認・変更
          .mypage_side_box--arrow
            ▶︎
        = link_to edit_address_user_path(current_user[:id]), class: "mypage_side_box" do
          .mypage_side_box--name
            発送元・お届け住所確認・変更
          .mypage_side_box--arrow
            ▶︎
        = link_to  "#", class: "mypage_side_box--current" do
          .mypage_side_box--name
            支払い情報
          .mypage_side_box--arrow
            ▶︎
        = link_to destroy_user_session_path, method: :delete, class: "mypage_side_box" do
          .mypage_side_box--name
            ログアウト
          .mypage_side_box--arrow
            ▶︎

      .mypage_main
        .mypage_main--header 
          .mypage_main--header_opacty
            .my_items
              .my_items--nickname
                = current_user.nickname
              .my_items_under
                .my_items_under--exh
                  出品中 
                .my_items_under--valuation
                  出品数 
            

        .mypage_main_center
          .form_top
            クレジットカード情報
          .user_info
            %label 登録クレジットカード情報
            %br
            = "**** **** **** " + @default_card_information.last4
            %br
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
            = form_tag(delete_user_creditcards_path, method: :post, id: 'charge-form',  name: "inputForm") do
              %input{ type: "hidden", name: "card_id", value: "" }
              = submit_tag '削除する',class: "buy-btn"
    .mypage--space
= render "products/footer"
= render "products/exhibition"
