.footer1
  .footer1__box
    %ul.contents1
      %li.content
        .content__subtitle
          FURIMAについて
        %ul
          %li
            = link_to "会社概要（運営会社）", "#"
          %li
            = link_to "プライバシーポリシー", "#"
          %li
            = link_to "FURIMA利用規約", "#"
          %li
            = link_to "ポイントに関する規約", "#"
      %li.content
        .content__subtitle
          FURIMAを見る
        %ul
          %li
            = link_to "カテゴリー一覧", "#"
          %li
            = link_to "ブランド一覧", "#"
      %li.content
        .content__subtitle
          ヘルプ＆ガイド
        %ul
          %li
            = link_to "FURIMAガイド", "#"
          %li
            = link_to "FIRIMAロゴ利用ガイドライン", "#"
          %li
            = link_to "お知らせ", "#"
  .footer1__logo
    = link_to "#" do
      = image_tag "logo-white.png", alt: "顔写真7"
    %p © FURIMA