.header1
  .header1__group
    .header1__group__box
      .header1__group__box__title
        = link_to image_tag(src= "logo.png"), root_path
      .header1__group__box__search
        = form_with(local: true, method: :get, class: "search-form") do |form|
          = form.text_field :keyword, placeholder: "キーワードから探す", class: "search-input"
          -# = form.submit "検索", class: "search-btn" 
          %button{class: "search-btn", type: "submit", size: "100%"}
            = image_tag "icon-search 1.png"
    .header1__group__menu
      %ul.list
        %li.list__right
          = link_to "カテゴリー", "#"
        %li.list__left
          = link_to "ブランド", "#"
      %ul.box
        - if user_signed_in?
          %li.box__right
            = link_to "マイページ",user_path(current_user[:id]), class: "go_to_mypage"
          %li.box__right
            = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          %li.box__right
            = link_to "ログイン", new_user_session_path
          %li.box__left
            = link_to "新規登録", new_user_registration_path