.header
  .header__group
    .header__group__box
      .header__group__box__title
        = link_to image_tag(src= "logo.png"), "#"
      .header__group__box__search
        = form_with(local: true, method: :get, class: "search-form") do |form|
          = form.text_field :keyword, placeholder: "キーワードから探す", class: "search-input"
          -# = form.submit "検索", class: "search-btn" 
          %button{class: "search-btn", type: "submit", size: "100%"}
            = image_tag "icon-search 1.png"
    .header__group__menu
      %ul.list
        %li.list__right
          = link_to "カテゴリー", "#"
        %li.list__left
          = link_to "ブランド", "#"
      %ul.box
        %li.box__right
          = link_to "ログイン", "#"
        %li.box__left
          = link_to "新規会員登録", "#"