.main
  .main__image
    .main__image__box
      .main__image__box__subtitle
        人生を変えるフリマアプリ
      %P.main__image__box__text 
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .main__image__box__btn
        .btn1
          = link_to image_tag(src= 'app-store.png', size: '150x50'), "#" 
        .btn2
          = link_to image_tag(src= 'Google.png', size: '150x50'), "#"
  .main__about
    .main__about__subtitle
      FURIMAが選ばれる3つの理由
    .main__about__lists
      .lists
        .list
          .list__image
            %span.number 1
            = image_tag "about-image1.png", size: "250x300", alt: "顔写真1"
          .list__text
            %span.word 3分 
            ですぐに出品
          .list__descriotion
            スマホで入力するだけで簡単に出品できる！
        .list
          .list__image
            %span.number 2
            = image_tag "about-image2.png", size: "250x300", alt: "顔写真2"
          .list__text
            %span.word シンプル 
            で使いやすい
          .list__descriotion
            めんどくさい入力は必要なく、検索も購入もスムーズ！
        .list
          .list__image
            %span.number 3
            = image_tag "about-image3.png", size: "250x300", alt: "顔写真3"
          .list__text
            手数料 
            %span.word 業界最安
          .list__descriotion
            最大3%でお得に出品&購入！
  .main__info
    .main__info__box
      .subtitle
        会員数日本一位
      .text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .main__info__box__btn
        .btn1
          = link_to image_tag(src= 'app-store.png', size: '150x50'), "#" 
        .btn2
          = link_to image_tag(src= 'Google.png', size: '150x50'), "#"
  .main__feature
    .main__feature__subtitle  
      FURIMAの特徴
    .main__feature__lists
      %ul.lists
        %li.list
          .list__image
            = image_tag "feature-image1.png", alt: "顔写真1"
          .list__text
            簡単に売り買いできる
          .list__descriotion
            スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
        %li.list
          .list__image
            = image_tag "feature-image2.png", alt: "顔写真2"
          .list__text
            売上金は即日振込みに対応
          .list__descriotion
            午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
        %li.list
          .list__image
            = image_tag "feature-image3.png", alt: "顔写真3"
          .list__text
            様々な支払いに対応
          .list__descriotion
            最大3%でお得に出品&購入！
  .main__category
    .main__category__subtitle
      ピックアップカテゴリー
    .main__category__box
      .new--post
        = link_to "新規投稿商品", "#"
      .main__category__box__products
        %ul.lists
          %li.list
            .image
              = link_to image_tag(src= 'a007.png', alt: "顔写真4"), "#"
            .name
              products3
            .price
              30000円
          %li.list
            .image
              = link_to image_tag(src= "a003.png", alt: "顔写真5"), "#"
            .name
              products2
            .price
              20000円
          %li.list
            .image
              = link_to image_tag(src= "a001.png", alt: "顔写真6"), "#"
            .name
              products1
            .price
              10000円
  .main__brand
    .main__brand__subtitle
      ピックアップブランド
    .main__brand__box
      .archiver
        = link_to "アーカイバ", "#"
      .main__brand__box__products
        %ul.lists
          %li.list
            .image
              = link_to image_tag(src= 'a007.png', alt: "顔写真4"), "#"
            .name
              products3
            .price
              30000円
          %li.list
            .image
              = link_to image_tag(src= "a003.png", alt: "顔写真5"), "#"
            .name
              products2
            .price
              20000円
          %li.list
            .image
              = link_to image_tag(src= "a001.png", alt: "顔写真6"), "#"
            .name
              products1
            .price
              10000円
  .main__banner
    .main__banner__box
      .main__banner__box__text1
        だれでもかんたん、人生を変えるフリマアプリ
      .main__banner__box__text2
        今すぐ無料ダウンロード！
      .main__banner__box__btn
        .btn1
          = link_to image_tag(src= 'app-store.png', size: '150x50'), "#" 
        .btn2
          = link_to image_tag(src= 'Google.png', size: '150x50'), "#"
