.confirmation
  .head--logo
    = link_to "#" do
      = image_tag "logo.png"
  .main1
    .main1__title
      購入内容の確認
    .main1__info
      .main1__info__group
        .main1__info__group__photo
          = image_tag "a007.png", size: "100x100"
        .main1__info__group__box
          .main1__info__group__box__name
            products1
          .main1__info__group__box__price
            30000円
            %span (税込)
            %span 送料込み
    .main1__content
      .main1__content__item
        .main1__content__item__money
          .box
            .text
              支払い金額
            .total
              30000円
        .main1__content__item__method
          .subtitle
            支払い方法
          .registration
            = link_to "#" do
              %i.fas.fa-plus-circle
              登録してください
        .main1__content__item__carry
          .subtitle
            配送先
          .registration
            = link_to "#" do
              %i.fas.fa-plus-circle
              登録してください
        .main1__content__item__buy
          %button{type: "submit", class: "buy-btn"}
            購入する
  .footer
    .footer__content
      %ul
        %li
          = link_to "プライバシーボリシー", "#"
        %li
          = link_to "FURIMA利用規約", "#"
        %li
          = link_to "特定商取引に関する記表", "#"
    .footer__logo
      = link_to "#" do
        = image_tag "logo.png"
      %p © FURIMA