= link_to '出品', new_product_path
- if user_signed_in?
  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn"
  = link_to current_user.nickname, user_path(current_user)
- else
  = link_to "ログイン", new_user_session_path, class: "header__right--btn"
  = link_to "新規登録", new_user_registration_path, class: "header__right--btn"
.contents
  = render @products