.contents
  .header
    .header__logo
      = link_to image_tag "logo.png", size: "185x49"
  .body
    = form_for @product do |f|
      = render 'layouts/error_messages', model: f.object
      .product__image
        .product__image__box1
          .product__image__box1__gazou
            出品画像
          .product__image__box1__hissu
            必須
        .product__image__box2
          最大10枚までアップロードできます
        .product__image__box3
          #input-box
            = f.fields_for :images do |image|
              .js-file_group{"data-index" => "#{image.index}"}             
                = image.label :image do
                  %p ファイルを選択
                  = image_tag "icon/icon_camera.png", size: "30x30"
                = image.file_field :image, class: 'js-file'
                - if @product.persisted?
                  = image_tag image.object.image.url, data:{ index: image.index }, width: "100", height: '100'
                  = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
                  .js-remove 削除
            - if @product.persisted?
              .js-file_group{"data-index" => "#{@product.images.count}"}
                = label_tag :image do
                  %p ファイルを選択
                  = file_field_tag :image, name: "product[images_attributes][#{@product.images.count}][image]", class: 'js-file'
                .js-remove 削除
      %hr.line
      .product__name
        .product__name__box1
          .product__name__box1__name
            商品名
          .product__name__box1__hissu
            必須
        .product__name__box2
          = f.text_field :name, placeholder: '40字まで'
      .product__explanation
        .product__explanation__box1
          .product__explanation__box1__detail
            商品の説明
          .product__explanation__box1__hissu
            必須
        .product__explanation__box2
          = f.text_area :text, placeholder: '商品の説明（必須、1000文字以内)(色、素材、重さ、定価、注意点など)例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのであわせやすいのでおすすめです。', rows: "5"
      %hr
      .product__detail
        .product__detail__box1
          商品の詳細
        .product__detail__box2
          .product__detail__box2__ue
            .product__detail__box2__ue__category
              カテゴリー
            .product__detail__box2__ue__hissu
              必須
          .product__detail__box2__select
            = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {prompt: '---'}, {id: 'parent_category'}
        .product__detail__box3
          .product__detail__box3__ue
            .product__detail__box3__ue__brand
              ブランド
            .product__detail__box3__ue__nini
              任意
          .product__detail__box3__select
            = f.text_field :brand, placeholder: '例) シャネル'
        .product__detail__box4
          .product__detail__box4__ue
            .product__detail__box4__ue__status
              商品の状態
            .product__detail__box4__ue__hissu
              必須
          .product__detail__box4__select
            = f.select :status, [["新品、未使用"],["未使用に近い"],["目立った傷や汚れなし"],["やや傷や汚れあり"],["傷や汚れあり"],["全体的に状態が悪い"]],include_blank: "選択してください"
      %hr
      .product__carry
        .product__carry__box1
          配送について
        .product__carry__box2
          .product__carry__box2__ue
            .product__carry__box2__ue__futan
              配送料の負担
            .product__carry__box2__ue__hissu
              必須
          .product__carry__box2__select
            = f.select :shippingcharges, [["送料込み(出品者負担)"],["着払い(購入者負担)"]],include_blank: "選択してください"
        .product__carry__box3
          .product__carry__box3__ue
            .product__carry__box3__ue__erea
              配送元の地域
            .product__carry__box3__ue__hissu
              必須
          .product__carry__box3__select
            = f.collection_select :shipping_area, Prefecture.all, :id, :name,include_blank: "選択してください"
        .product__carry__box4
          .product__carry__box4__ue
            .product__carry__box4__ue__day
              配送までの日数
            .product__carry__box4__ue__hissu
              必須
          .product__carry__box4__select
            = f.select :days_to_ship, [["1~2日で発送"],["2~3日で発送"],["4~7日で発送"]],include_blank: "選択してください"
      %hr
      .product__price
        .product__price__box1
          .product__price__box1__kakaku
            価格（¥300~9,999,999）
        .product__price__box2
          .product__price__box2__left
            .product__price__box2__left__hanbaikakaku
              販売価格
            .product__price__box2__left__hissu
              必須
          .product__price__box2__right
            .product__price__box2__right__en
              ¥
            .product__price__box2__right__0
              = f.number_field :price, min:300,max:9999999
        .product__price__box3
          .product__price__box3__tesuuryou
            販売手数料（10%）
          .product__price__box3__tesuuryou2
            —
        .product__price__box4
          .product__price__box4__rieki
            販売利益
          .product__price__box4__rieki2
            —
      .product__sell
        .product__sell__box1
          = f.submit "出品する", class: "sell",id:"sell_botton"
        .product__sell__box3
          = link_to "もどる", root_path
      .product__rule
        %p
          = link_to "禁止されている出品", '/', class:"link-blue" 
          、
          = link_to "行為", '/', class:"link-blue" 
          を必ずご確認ください。
        %p
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          = link_to "偽ブランドの販売", '/', class:"link-blue" 
          は犯罪であり処罰される可能性があります。
        %p
          また、出品をもちまして
          = link_to "加盟店規約", '/', class:"link-blue" 
          に同意したことになります。
  .footer
    .footer__top
      .footer__top__box1
        = link_to "プライバシーポリシー", "/"
      .footer__top__box2
        = link_to "FURIMA利用規約", "/"
      .footer__top__box3
        = link_to "特定商取引に関する表記", "/"
    .footer__center
      = image_tag "logo-white.png", size: "180x50"
    .footer__bottom
      © FURIMA, Inc.