= render "header"
.products__category__header
  .products__category__header__box
    %ul
      %li FURIMA
      %li >
      %li #{@category.root.name}
      %li >
      %li #{@category.parent.name}
      %li >
      %li #{@category.name}
      %li >
      %li.bold #{@product.name}
.products-show
  .products-show__main
    .products-show__main__area
      - unless user_signed_in?
        .products-show__main__area__if-header
          ※ユーザー登録後、商品が購入できます。

      .products-show__main__area__title
        = @product.name
      - len = @product.images.count
      - @product.images.each_with_index do |image,i|
        - if i < 1
          .products-show__main__area__big
            = image_tag image.image.url
        - else
          .products-show__main__area__small
            = image_tag image.image.url
      .products-show__main__area__price
        .products-show__main__area__price__display
          ￥
          = @product.price
        .products-show__main__area__price__tax
          (税込) 送料込み
      .products-show__main__area__explanation
        = @product.text
      .products-show__main__area__information
        %table
          %tr
            %th
              出品者
            %td
              = @product.user.nickname
          %tr
            %th
              カテゴリー
            %td
              %ul
                
                %li
                  = link_to @category.root.name
                %li
                  = link_to @category.parent.name
                %li
                  = link_to @category.name
          %tr
            %th
              ブランド
            %td
              = @product.brand
          %tr
            %th
              商品の状態
            %td
              = @product.status
          %tr
            %th
              配送料の負担	
            %td
              = @product.shippingcharges
          %tr
            %th
              発送元の地域
            %td
              -pref = Prefecture.find @product.shipping_area
              = link_to "#{pref.name.to_s}"
          %tr
            %th
              発送日の目安
            %td
              = @product.days_to_ship
      .products-show__main__area__link
        .products-show__main__area__link__left
          = icon('fa', 'star')
          = link_to "お気に入り 0"      
        .products-show__main__area__link__right
          = icon('fa', 'flag')
          = link_to "不適切な商品の情報"
      .products-show__main__area__if-btn
        - if user_signed_in?
          - if current_user.id == @product.user_id
            .products-show__main__area__if-btn__inner
              = link_to "この商品の情報を編集する", edit_product_path(@product.id) ,class: "if__btn-blue"
            .products-show__main__area__if-btn__inner
              = link_to "この商品を削除する", product_path(@product.id), method: :delete, class: "if__btn-red"
          - else
            .products-show__main__area__if-btn__inner
              = link_to "この商品を購入する", purchase_index_path(purchase_id: params[:id]), class: "if__btn-red"
        - else
          .products-show__main__area__if-btn__inner
            ※ユーザー登録後、商品が購入できます。


      
    .products-show__main__comment
      .products-show__main__comment__textarea
        %textarea
      .products-show__main__comment__explanation
        相手のことを考え丁寧なコメントを心がけましょう。
        %br
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %button{type: "submit", class: ".products-show__main__comment__btn"}
        = icon('fa', 'comment')
        %submit コメントする
    .products-show__main__link
      .products-show__main__link__product
        .products-show__main__link__product__left
          = link_to "<前の商品"
        .products-show__main__link__product__right
          = link_to "後ろの商品>"
      .products-show__main__link__more
        = link_to "ベビー・キッズをもっと見る"
= render "footer"
= render "exhibition"